EntertainmentNetworkClient/EntertainmentNetwork.DAL/Service References/HallService/HallService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/" targetNamespace="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://127.0.0.1:9998/HallService?xsd=1" namespace="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/" />
    </xsd:schema>
  </types>
  <message name="findHallById">
    <part name="parameters" element="tns:findHallById" />
  </message>
  <message name="findHallByIdResponse">
    <part name="parameters" element="tns:findHallByIdResponse" />
  </message>
  <message name="getHalls">
    <part name="parameters" element="tns:getHalls" />
  </message>
  <message name="getHallsResponse">
    <part name="parameters" element="tns:getHallsResponse" />
  </message>
  <message name="addHall">
    <part name="parameters" element="tns:addHall" />
  </message>
  <message name="addHallResponse">
    <part name="parameters" element="tns:addHallResponse" />
  </message>
  <message name="mergeHall">
    <part name="parameters" element="tns:mergeHall" />
  </message>
  <message name="mergeHallResponse">
    <part name="parameters" element="tns:mergeHallResponse" />
  </message>
  <message name="removeHall">
    <part name="parameters" element="tns:removeHall" />
  </message>
  <message name="removeHallResponse">
    <part name="parameters" element="tns:removeHallResponse" />
  </message>
  <portType name="IHallService">
    <operation name="findHallById">
      <input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/IHallService/findHallByIdRequest" message="tns:findHallById" />
      <output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/IHallService/findHallByIdResponse" message="tns:findHallByIdResponse" />
    </operation>
    <operation name="getHalls">
      <input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/IHallService/getHallsRequest" message="tns:getHalls" />
      <output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/IHallService/getHallsResponse" message="tns:getHallsResponse" />
    </operation>
    <operation name="addHall">
      <input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/IHallService/addHallRequest" message="tns:addHall" />
      <output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/IHallService/addHallResponse" message="tns:addHallResponse" />
    </operation>
    <operation name="mergeHall">
      <input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/IHallService/mergeHallRequest" message="tns:mergeHall" />
      <output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/IHallService/mergeHallResponse" message="tns:mergeHallResponse" />
    </operation>
    <operation name="removeHall">
      <input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/IHallService/removeHallRequest" message="tns:removeHall" />
      <output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/IHallService/removeHallResponse" message="tns:removeHallResponse" />
    </operation>
  </portType>
</definitions>