EntertainmentNetworkClient/EntertainmentNetworkClient/Service References/SitService/SitService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/" targetNamespace="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addSit" type="tns:addSit" />
  <xs:element name="addSitResponse" type="tns:addSitResponse" />
  <xs:element name="findSitById" type="tns:findSitById" />
  <xs:element name="findSitByIdResponse" type="tns:findSitByIdResponse" />
  <xs:element name="getSits" type="tns:getSits" />
  <xs:element name="getSitsResponse" type="tns:getSitsResponse" />
  <xs:element name="mergeSit" type="tns:mergeSit" />
  <xs:element name="mergeSitResponse" type="tns:mergeSitResponse" />
  <xs:element name="removeSit" type="tns:removeSit" />
  <xs:element name="removeSitResponse" type="tns:removeSitResponse" />
  <xs:complexType name="removeSit">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeSitResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="findSitById">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findSitByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sit" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sit">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="sitId" type="xs:decimal" />
          <xs:element minOccurs="0" name="sitNum" type="xs:decimal" />
          <xs:element minOccurs="0" name="sitRow" type="xs:decimal" />
          <xs:element minOccurs="0" name="sitFloor" type="xs:decimal" />
          <xs:element minOccurs="0" name="sitType" type="xs:decimal" />
          <xs:element minOccurs="0" name="cinemaId" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="baseModel">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="addSit">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:addSitRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addSitRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:baseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="halId" type="xs:decimal" />
          <xs:element minOccurs="0" name="sitNum" type="xs:decimal" />
          <xs:element minOccurs="0" name="sitRow" type="xs:decimal" />
          <xs:element minOccurs="0" name="sitFloor" type="xs:decimal" />
          <xs:element minOccurs="0" name="sitType" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="baseDto">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="addSitResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getSits">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getSitsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sit" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mergeSit">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:mergeSitRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mergeSitRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:addSitRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="sitId" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="mergeSitResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sit" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>