EntertainmentNetworkClient/EntertainmentNetwork.DAL/Service References/SeatService/SitService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/" targetNamespace="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://127.0.0.1:9998/SitService?xsd=1" namespace="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/" />
    </xsd:schema>
  </types>
  <message name="mergeSeat">
    <part name="parameters" element="tns:mergeSeat" />
  </message>
  <message name="mergeSeatResponse">
    <part name="parameters" element="tns:mergeSeatResponse" />
  </message>
  <message name="getSeats">
    <part name="parameters" element="tns:getSeats" />
  </message>
  <message name="getSeatsResponse">
    <part name="parameters" element="tns:getSeatsResponse" />
  </message>
  <message name="findSeatById">
    <part name="parameters" element="tns:findSeatById" />
  </message>
  <message name="findSeatByIdResponse">
    <part name="parameters" element="tns:findSeatByIdResponse" />
  </message>
  <message name="generateSeats">
    <part name="parameters" element="tns:generateSeats" />
  </message>
  <message name="generateSeatsResponse">
    <part name="parameters" element="tns:generateSeatsResponse" />
  </message>
  <message name="removeSeat">
    <part name="parameters" element="tns:removeSeat" />
  </message>
  <message name="removeSeatResponse">
    <part name="parameters" element="tns:removeSeatResponse" />
  </message>
  <message name="addSeat">
    <part name="parameters" element="tns:addSeat" />
  </message>
  <message name="addSeatResponse">
    <part name="parameters" element="tns:addSeatResponse" />
  </message>
  <portType name="ISeatService">
    <operation name="mergeSeat">
      <input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/ISeatService/mergeSeatRequest" message="tns:mergeSeat" />
      <output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/ISeatService/mergeSeatResponse" message="tns:mergeSeatResponse" />
    </operation>
    <operation name="getSeats">
      <input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/ISeatService/getSeatsRequest" message="tns:getSeats" />
      <output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/ISeatService/getSeatsResponse" message="tns:getSeatsResponse" />
    </operation>
    <operation name="findSeatById">
      <input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/ISeatService/findSeatByIdRequest" message="tns:findSeatById" />
      <output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/ISeatService/findSeatByIdResponse" message="tns:findSeatByIdResponse" />
    </operation>
    <operation name="generateSeats">
      <input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/ISeatService/generateSeatsRequest" message="tns:generateSeats" />
      <output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/ISeatService/generateSeatsResponse" message="tns:generateSeatsResponse" />
    </operation>
    <operation name="removeSeat">
      <input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/ISeatService/removeSeatRequest" message="tns:removeSeat" />
      <output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/ISeatService/removeSeatResponse" message="tns:removeSeatResponse" />
    </operation>
    <operation name="addSeat">
      <input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/ISeatService/addSeatRequest" message="tns:addSeat" />
      <output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://Interfaces.EntertainmentNetworkServer.ua.dp.isd/ISeatService/addSeatResponse" message="tns:addSeatResponse" />
    </operation>
  </portType>
</definitions>